services:
  mysql:
    image: mysql:8.0
    container_name: nexus-mysql
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: changepwd
      MYSQL_DATABASE: nexus
      MYSQL_USER: nexus_user
      MYSQL_PASSWORD: strongpassword
    networks:
      - nexus-net
    ports:
      - "3306:3306"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 5s
      retries: 10
    volumes:
      - mysql_data:/var/lib/mysql
  adminer:
    image: adminer
    restart: unless-stopped
    networks:
      - nexus-net
    ports:
      - "8080:8080"
    depends_on:
      - mysql
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    image: front-image
    container_name: front-app
    depends_on:
      mysql:
        condition: service_healthy
      reporting-service:
        condition: service_started
      auth-service:
        condition: service_started
      user-service:
        condition: service_started
      project-service:
        condition: service_started
    ports:
      - 80:80
    networks:
      - nexus-net
    volumes:
      - ./frontend:/app
      - /app/node_modules
    env_file:
      - ./frontend/.env
  auth-service:
    build:
      context: ./services/auth-service
      dockerfile: Dockerfile
    image: auth-image
    container_name: auth-app
    ports:
      - 4000:4000
    depends_on:
      mysql:
        condition: service_healthy
    networks:
      - nexus-net
    volumes:
      - ./services/auth-service:/app
      - /app/node_modules
    env_file:
      - ./services/auth-service/.env.example
  user-service:
    build:
      context: ./services/user-service
      dockerfile: Dockerfile
    image: user-image
    container_name: user-app
    ports:
      - 5050:5000
    depends_on:
      mysql:
        condition: service_healthy
    networks:
      - nexus-net
    # volumes:
    #   - ./services/user-service:/app
    #   - /app/node_modules
    env_file:
      - ./services/user-service/.env.example
  approval-service:
    build:
      context: ./services/approval-service
      dockerfile: Dockerfile
    image: approval-image
    container_name: approval-app
    ports:
      - 7300:7300
    depends_on:
      mysql:
        condition: service_healthy
    networks:
      - nexus-net
    volumes:
      - ./services/approval-service:/app
      - /app/node_modules
    env_file:
      - ./services/approval-service/.env.example
  expense-service:
    build:
      context: ./services/expense-service
      dockerfile: Dockerfile
    image: expense-image
    container_name: expense-app
    ports:
      - 7200:7200
    depends_on:
      mysql:
        condition: service_healthy
    networks:
      - nexus-net
    volumes:
      - ./services/expense-service:/app
      - /app/node_modules
    env_file:
      - ./services/expense-service/.env.example
  project-service:
    build:
      context: ./services/project-service
      dockerfile: Dockerfile
    image: project-image
    container_name: project-app
    ports:
      - 7050:7000
    depends_on:
      mysql:
        condition: service_healthy
    networks:
      - nexus-net
    volumes:
      - ./services/project-service:/app
      - /app/node_modules
    env_file:
      - ./services/project-service/.env.example
  task-service:
    build:
      context: ./services/task-service
      dockerfile: Dockerfile
    image: task-image
    container_name: task-app
    ports:
      - 7100:7100
    depends_on:
      mysql:
        condition: service_healthy
    networks:
      - nexus-net
    volumes:
      - ./services/task-service:/app
      - /app/node_modules
    env_file:
      - ./services/task-service/.env.example
  notification-service:
    build:
      context: ./services/notification-service
      dockerfile: Dockerfile
    image: notification-image
    container_name: notification-app
    ports:
      - 7400:7400
    depends_on:
      mysql:
        condition: service_healthy
    networks:
      - nexus-net
    volumes:
      - ./services/notification-service:/app
      - /app/node_modules
    env_file:
      - ./services/notification-service/.env.example
  audit-service:
    build:
      context: ./services/audit-service
      dockerfile: Dockerfile
    image: audit-image
    container_name: audit-app
    ports:
      - 7500:7500
    depends_on:
      mysql:
        condition: service_healthy
    networks:
      - nexus-net
    # volumes:
    #   - ./services/audit-service:/app
    #   - /app/node_modules
    env_file:
      - ./services/audit-service/.env.example
  reporting-service:
    build:
      context: ./services/reporting-service
      dockerfile: Dockerfile
    image: reporting-image
    container_name: reporting-app
    ports:
      - 7600:7600
    depends_on:
      mysql:
        condition: service_healthy
    networks:
      - nexus-net
    # volumes:
    #   - ./services/reporting-service:/app
    #   - /app/node_modules
    env_file:
      - ./services/reporting-service/.env.example

networks:
  nexus-net:

volumes:
  mysql_data: