name: Nexus Workflow
on:
    push:
        branches:
        - main
        paths-ignore:
        - '.github/workflows/**'
    workflow_dispatch:
jobs:
    call-devops-pipeline:
        uses: ch-rahulmachra/nexus-app-devops/.github/workflows/nexus_cicd_workflow.yml
        secrets: inherit